<h2>Настройки аккаунта, <%= @user.login%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
 

  <div><%= f.label :Имя %><br />
  <%= f.email_field :name %></div>

<div><%= f.label :Фамилия %><br />
  <%= f.email_field :lastname %></div>
  <div><%= f.label :Возраст %><br />
  <%= f.text_field :age %></div>
  <div><%= f.label :Хобби %><br />
  <%= f.text_area :hobbi, size: "20x5" %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :"Пароль" %> <i>(Введите старый пароль)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :"Повторите пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div margin-bottom = "20px"><%= f.label :"Новый пароль" %> <i></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div><br/>

  <div><%= f.submit "Редактировать", class: "btn btn-success btn-lg" %></div>
<% end %>

<h3>Удалить аккаунт?</h3>

<p> <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-success btn-lg" %></p>

<%= link_to "Назад", :back , class: "button28" %>
