<h2>Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<div class="input-group">
    	<span class="input-group-addon"> <%= f.label :email %> </span> 
			<%= f.email_field :email, autofocus: true  ,class: "form-control" %>
  	</div>
<div><%= f.submit "Отправить письмо", class: "btn btn-default btn-sm" %></div>
  <br>
<% end %>
</div>
  
<%= render "devise/shared/links" %>
