<p id="notice"><%= notice %></p>
<p>
  <strong>Запись:</strong><br/>
 <h3> <%= @post.text %>
 </h3><br/>
</p>
<h4>Комменты</h4>
<%= render @post.comments %>
 
<h2>Добавить комментарий</h2>
<%= render "comments/form"%>



<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Назад', user_posts_path(current_user) %>
