<div align="center">
		
 		<h1> <%= @post.text %></h1><br/>
 </div>

<h1  align="center">Комменты</h1>
<%= render @post.comments %>
 
<h2>Добавить комментарий</h2>
<%= render "comments/form"%>



<%= link_to 'Редактировать', edit_post_path(@post), class: "button28" %> |
<%= link_to 'Назад', user_posts_path(current_user),  class: "button28" %>
